@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.4s linear;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.breadcrumbs {
  padding: 20px 0 23px;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #8b8b8b;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:after {
  content: "";
  background: #8b8b8b;
  width: 15px;
  height: 1px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 10px;
}
.breadcrumbs li a {
  color: #8b8b8b;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}

.slots-page {
  background: #f8f8f8;
}
.slots-page__header {
  padding-bottom: 38px;
}
.slots-page__header .page-title {
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
  font-family: Otomarine, sans-serif;
}
.slots-page__content {
  padding-bottom: 80px;
}
.slots-page__filter {
  position: relative;
  padding-right: 50px;
}
.slots-page__filter .slots-page__filter-wrap::-webkit-scrollbar {
  display: none;
}
.slots-page__filter-wrap {
  z-index: 1;
  overflow-x: scroll;
  position: relative;
  width: calc(100% - 70px);
}
.slots-page__filter-search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
}
.slots-page__filter-search .search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.slots-page__filter-search .search-btn:before {
  content: "";
  mask-image: url("../img/search-icon.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: #050A0A;
  width: 14px;
  height: 14px;
}
.slots-page__filter-search .close-btn {
  background: url("../img/close-icon.svg") no-repeat 0 0/contain;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 18px;
  z-index: 3;
  display: none;
  cursor: pointer;
}
.slots-page__filter-search .slots-search {
  height: 40px;
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.slots-page__filter-search .slots-search input[type=search] {
  border-radius: 100px;
  background: #FFFFFF;
  border: 1px solid #149E4C;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  color: #050A0A;
  padding: 10px 30px 10px 20px;
}
.slots-page__filter-search .slots-search .btn-submit {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 15px;
  height: 15px;
  mask-image: url("../img/search-icon.svg");
  background-color: #050A0A;
  border: none;
  cursor: pointer;
}
.slots-page__filter-btns {
  position: absolute;
  top: 0;
  right: 50px;
  width: 80px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-shadow: -20px 10px 10px rgba(255, 255, 255, 0.9);
  border-radius: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slots-page__filter-btns .left-btn,
.slots-page__filter-btns .right-btn {
  mask-image: url("../img/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  width: 9px;
  height: 13px;
  cursor: pointer;
}
.slots-page__filter-btns .left-btn {
  transform: rotate(180deg);
  background-color: #C8C8C8;
  margin-right: 33px;
}
.slots-page__filter-btns .right-btn {
  background-color: #050A0A;
}
.slots-page__filter-list {
  width: max-content;
  display: flex;
}
.slots-page__filter-item {
  font-size: 14px;
  color: #8b8b8b;
  border: 1px solid #E9E9E9;
  border-radius: 100px;
  padding: 12px 16px 9px;
  background: #FFFFFF;
  margin-right: 8px;
  cursor: pointer;
}
.slots-page__filter-item:last-child {
  margin-right: 0;
}
.slots-page__filter-item:hover {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.slots-page__filter .active {
  background: #F7FBF9;
  color: #149E4C;
  border-color: #149E4C;
}
.slots-page__filter .filter-icon:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  margin: -3px 10px 0 0;
}
.slots-page__filter .filter-new:before {
  background: url("../img/new-icon.png") no-repeat 0 0/contain;
}
.slots-page__filter .filter-jackpot:before {
  background: url("../img/jackpot-icon.png") no-repeat 0 0/contain;
}
.slots-page__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.slots-page__list-item {
  margin-bottom: 30px;
  position: relative;
  width: 180px;
  margin-right: 18px;
}
.slots-page__list-item:nth-child(6n) {
  margin-right: 0;
}
.slots-page__list-item:hover .title {
  color: #149E4C;
}
.slots-page__list-item .img-wrap {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  overflow: hidden;
}
.slots-page__list-item .title {
  margin-top: 13px;
  font-size: 16px;
  letter-spacing: 0.02em;
  transition: 0.5s linear;
}
.slots-page__list-item .subtitle {
  margin-top: 3px;
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
}
.slots-page__all {
  display: none;
}
.slots-page__all .slots-page__list {
  margin-top: 0;
}
.slots-page .toggle-list {
  display: block;
}
.slots-page__more {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  cursor: pointer;
  border-radius: 2px;
  padding-top: 3px;
}
.slots-page__more:hover .slots-page__more-btn:before {
  transform: rotate(180deg);
}
.slots-page__more-btn {
  color: #FFFFFF;
}
.slots-page__more-btn:before {
  content: "";
  background: url("../img/load-icon.svg") no-repeat 0 0/contain;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  margin: 1px 17px 0 0;
  transition: 0.5s linear;
}

@media screen and (max-width: 1200px) {
  .slots-page__header {
    padding: 0 15px 30px;
  }
  .slots-page__content {
    padding: 0 15px 80px;
  }
  .slots-page__content .content-center {
    max-width: 994px;
  }
  .slots-page__list {
    margin-right: -15px;
  }
  .slots-page__list-item {
    margin-right: 21px;
  }
  .slots-page__list-item:nth-child(6n) {
    margin-right: 21px;
  }
}
@media screen and (max-width: 1023px) {
  .slots-page__header {
    padding: 0 15px 20px;
  }
  .slots-page__header .page-title {
    font-size: 36px;
    line-height: 40px;
  }
  .slots-page__content .content-center {
    max-width: 738px;
  }
  .slots-page__filter {
    padding-right: 43px;
  }
  .slots-page__filter-wrap {
    width: calc(100% - 70px);
  }
  .slots-page__filter-btns {
    height: 36px;
    right: 43px;
  }
  .slots-page__filter-item {
    padding: 10px 16px 7px;
  }
  .slots-page__filter .filter-icon:before {
    width: 15px;
    height: 15px;
    margin: -1px 7px 0 0;
  }
  .slots-page__filter-search {
    height: 36px;
  }
  .slots-page__filter-search .search-btn {
    width: 36px;
    height: 36px;
  }
  .slots-page__filter-search .search-btn:before {
    width: 13px;
    height: 13px;
  }
  .slots-page__list-item {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 177px;
  }
  .slots-page__list-item:nth-child(6n) {
    margin-right: 10px;
  }
  .slots-page__list-item .img-wrap {
    width: 177px;
    height: 177px;
  }
}
@media screen and (max-width: 767px) {
  .slots-page__header .page-title {
    font-size: 24px;
    line-height: 32px;
  }
  .slots-page__content {
    padding-bottom: 50px;
  }
  .slots-page__content .content-center {
    max-width: 523px;
  }
  .slots-page__filter {
    padding-right: 0;
  }
  .slots-page__filter-wrap {
    width: 100%;
  }
  .slots-page__filter-btns {
    display: none;
  }
  .slots-page__filter-search {
    display: none;
  }
  .slots-page__list {
    margin-top: 20px;
  }
  .slots-page__list-item {
    margin-right: 14px;
    width: 165px;
  }
  .slots-page__list-item:nth-child(6n) {
    margin-right: 14px;
  }
  .slots-page__list-item .img-wrap {
    width: 165px;
    height: 165px;
  }
  .slots-page__list-item .subtitle {
    font-size: 12px;
    color: #8b8b8b;
    margin-top: 0;
  }
  .slots-page__more {
    font-size: 14px;
    padding-top: 1px;
  }
  .slots-page__more-btn:before {
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 552px) {
  .slots-page__content .content-center {
    max-width: 345px;
  }
}
@media screen and (max-width: 375px) {
  .slots-page__filter {
    margin-right: -15px;
  }
}
@media screen and (max-width: 374px) {
  .slots-page .breadcrumbs {
    padding: 20px 0 13px;
  }
  .slots-page__list-item {
    margin-right: 10px;
    margin-bottom: 15px;
    width: 140px;
  }
  .slots-page__list-item:nth-child(6n) {
    margin-right: 10px;
  }
  .slots-page__list-item .img-wrap {
    width: 140px;
    height: 140px;
  }
}

/*# sourceMappingURL=main.css.map */
