@media screen and (max-width: 1200px)
  .slots-page
    &__header
      padding: 0 15px 30px
    &__content
      padding: 0 15px 80px
      .content-center
        max-width: 994px
    &__list
      margin-right: -15px
      &-item
        margin-right: 21px
        &:nth-child(6n)
          margin-right: 21px

@media screen and (max-width: 1023px)
  .slots-page
    &__header
      padding: 0 15px 20px
      .page-title
        font-size: 36px
        line-height: 40px
    &__content
      .content-center
        max-width: 738px
    &__filter
      padding-right: 43px
      &-wrap
        width: calc(100% - 70px)
      &-btns
        height: 36px
        right: 43px
      &-item
        padding: 10px 16px 7px
      .filter-icon
        &:before
          width: 15px
          height: 15px
          margin: -1px 7px 0 0
      &-search
        height: 36px
        .search-btn
          width: 36px
          height: 36px
          &:before
            width: 13px
            height: 13px
    &__list
      &-item
        margin-right: 10px
        margin-bottom: 20px
        width: 177px
        &:nth-child(6n)
          margin-right: 10px
        .img-wrap
          width: 177px
          height: 177px

@media screen and (max-width: 767px)
  .slots-page
    &__header
      .page-title
        font-size: 24px
        line-height: 32px
    &__content
      padding-bottom: 50px
      .content-center
        max-width: 523px
    &__filter
      padding-right: 0
      &-wrap
        width: 100%
      &-btns
        display: none
      &-search
        display: none
    &__list
      margin-top: 20px
      &-item
        margin-right: 14px
        width: 165px
        &:nth-child(6n)
          margin-right: 14px
        .img-wrap
          width: 165px
          height: 165px
        .subtitle
          font-size: 12px
          color: $gray-semi
          margin-top: 0
    &__more
      font-size: 14px
      padding-top: 1px
      &-btn
        &:before
          margin: 0 10px 0 0

@media screen and (max-width: 552px)
  .slots-page
    &__content
      .content-center
        max-width: 345px

@media screen and (max-width: 375px)
  .slots-page
    &__filter
      margin-right: -15px

@media screen and (max-width: 374px)
  .slots-page
    .breadcrumbs
      padding: 20px 0 13px
    &__list
      &-item
        margin-right: 10px
        margin-bottom: 15px
        width: 140px
        &:nth-child(6n)
          margin-right: 10px
        .img-wrap
          width: 140px
          height: 140px