$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .4s linear
  display: inline-block
  border-radius: 2px
  text-align: center

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.link
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.breadcrumbs
  padding: 20px 0 23px
  li
    display: inline-block
    margin-right: 10px
    font-size: 12px
    color: $gray-semi
    &:last-child
      &:after
        display: none
    &:after
      content: ''
      background: $gray-semi
      width: 15px
      height: 1px
      display: inline-block
      vertical-align: top
      margin: 5px 0 0 10px
    a
      color: $gray-semi
      &:hover
        text-decoration: underline

.slots-page
  background: $light
  &__header
    padding-bottom: 38px
    .page-title
      font-size: 44px
      line-height: 52px
      color: $dark
      font-family: $font-otomarine
  &__content
    padding-bottom: 80px
  &__filter
    position: relative
    padding-right: 50px
    .slots-page__filter-wrap::-webkit-scrollbar
      display: none
    &-wrap
      z-index: 1
      overflow-x: scroll
      position: relative
      width: calc(100% - 70px)
    &-search
      position: absolute
      top: 0
      right: 0
      left: 0
      height: 40px
      display: flex
      align-items: center
      .search-btn
        width: 40px
        height: 40px
        border-radius: 50%
        background: $white
        border: 1px solid #E9E9E9
        cursor: pointer
        display: flex
        justify-content: center
        align-items: center
        margin-left: auto
        &:before
          content: ""
          mask-image: url("../img/search-icon.svg")
          mask-size: contain
          mask-repeat: no-repeat
          background-color: $dark
          width: 14px
          height: 14px
      .close-btn
        background: url("../img/close-icon.svg") no-repeat 0 0/contain
        width: 10px
        height: 10px
        position: absolute
        right: 18px
        z-index: 3
        display: none
        cursor: pointer
      .slots-search
        height: 40px
        width: 100%
        display: none
        position: absolute
        top: 0
        right: 0
        z-index: 2
        input[type=search]
          border-radius: 100px
          background: $white
          border: 1px solid $green-default
          outline: none
          width: 100%
          height: 100%
          font-size: 14px
          font-family: $font-gilroy-regular
          color: $dark
          padding: 10px 30px 10px 20px
        .btn-submit
          position: absolute
          top: 12px
          right: 16px
          width: 15px
          height: 15px
          mask-image: url("../img/search-icon.svg")
          background-color: $dark
          border: none
          cursor: pointer
    &-btns
      position: absolute
      top: 0
      right: 50px
      width: 80px
      height: 40px
      background: $white
      border: 1px solid #E9E9E9
      box-shadow: -20px 10px 10px rgba(255,255,255,.9)
      border-radius: 100px
      z-index: 2
      display: flex
      justify-content: center
      align-items: center
      .left-btn,
      .right-btn
        mask-image: url("../img/arrow-right.svg")
        mask-repeat: no-repeat
        mask-size: contain
        width: 9px
        height: 13px
        cursor: pointer
      .left-btn
        transform: rotate(180deg)
        background-color: #C8C8C8
        margin-right: 33px
      .right-btn
        background-color: $dark
    &-list
      width: max-content
      display: flex
    &-item
      font-size: 14px
      color: $gray-semi
      border: 1px solid #E9E9E9
      border-radius: 100px
      padding: 12px 16px 9px
      background: $white
      margin-right: 8px
      cursor: pointer
      &:last-child
        margin-right: 0
      &:hover
        background: #F7FBF9
        color: $green-default
        border-color: $green-default
    .active
      background: #F7FBF9
      color: $green-default
      border-color: $green-default
    .filter-icon
      &:before
        content: ""
        width: 20px
        height: 20px
        display: inline-block
        vertical-align: top
        margin: -3px 10px 0 0
    .filter-new
      &:before
        background: url("../img/new-icon.png") no-repeat 0 0/contain
    .filter-jackpot
      &:before
        background: url("../img/jackpot-icon.png") no-repeat 0 0/contain
  &__list
    margin-top: 30px
    display: flex
    flex-wrap: wrap
    &-item
      margin-bottom: 30px
      position: relative
      width: 180px
      margin-right: 18px
      &:nth-child(6n)
        margin-right: 0
      &:hover
        .title
          color: $green-default
      .img-wrap
        width: 180px
        height: 180px
        border-radius: 4px
        overflow: hidden
      .title
        margin-top: 13px
        font-size: 16px
        letter-spacing: 0.02em
        transition: .5s linear
      .subtitle
        margin-top: 3px
        font-size: 14px
        font-family: $font-gilroy-regular
  &__all
    display: none
    .slots-page__list
      margin-top: 0
  .toggle-list
    display: block
  &__more
    margin-top: 20px
    display: flex
    justify-content: center
    align-items: center
    height: 46px
    cursor: pointer
    border-radius: 2px
    padding-top: 3px
    &:hover
      .slots-page__more-btn
        &:before
          transform: rotate(180deg)
    &-btn
      color: $white
      &:before
        content: ""
        background: url("../img/load-icon.svg") no-repeat 0 0/contain
        width: 15px
        height: 15px
        display: inline-block
        vertical-align: top
        margin: 1px 17px 0 0
        transition: .5s linear