.slots-page
  .slots-page__header
    .content-center
      ul.breadcrumbs
        li
          a(href="#") Home Page
        li Slots
      h1.page-title Slots
  .slots-page__content
    .content-center
      .slots-page__filter
        .slots-page__filter-btns
          .left-btn
          .right-btn
        .slots-page__filter-wrap
          ul.slots-page__filter-list
            li.slots-page__filter-item.border-btn.active All
            li.slots-page__filter-item.border-btn.filter-icon.filter-new New
            li.slots-page__filter-item.border-btn.filter-icon.filter-jackpot With jackpot
            li.slots-page__filter-item.border-btn Demo
            li.slots-page__filter-item.border-btn Old
            li.slots-page__filter-item.border-btn Classic
            li.slots-page__filter-item.border-btn 20 lines
            li.slots-page__filter-item.border-btn 25 lines
            li.slots-page__filter-item.border-btn 3D slot machines
            li.slots-page__filter-item.border-btn IPhone
            li.slots-page__filter-item.border-btn Pragmatic Play
            li.slots-page__filter-item.border-btn Classic
            li.slots-page__filter-item.border-btn 20 lines
            li.slots-page__filter-item.border-btn 25 lines
        .slots-page__filter-search
          .search-btn
          .close-btn
          form.slots-search
            input(type="search")
            button(type="submit").btn-submit
      .slots-page__list
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-1.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-2.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-3.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-4.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-5.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-6.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-7.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-8.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-9.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-10.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-11.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-12.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-1.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-2.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-3.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-4.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-5.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-6.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-7.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-8.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-9.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-10.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-11.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-12.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-1.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-2.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-3.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-4.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-5.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
        .slots-page__list-item
          a(href="#").link
          .img-wrap
            img(src="img/new-slots-6.png" alt="")
          p.title Dead or Alive 2
          p.subtitle Pragmatic
      .slots-page__all
        .slots-page__list
          .slots-page__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-1.png" alt="")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          .slots-page__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-2.png" alt="")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          .slots-page__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-3.png" alt="")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
          .slots-page__list-item
            a(href="#").link
            .img-wrap
              img(src="img/new-slots-4.png" alt="")
            p.title Dead or Alive 2
            p.subtitle Pragmatic
      .slots-page__more.green-btn
        .slots-page__more-btn Show All (#[span.amount 14])